@import "tailwindcss"; 

@layer components {
  .tech-tag {
    @apply text-sm font-medium
    px-3 py-1.5
    rounded-full border
    border-sky-500/40
    text-sky-600
    bg-sky-500/10
    transition-all duration-300
    hover:-translate-y-0.5
    hover:bg-sky-500/20
    dark:border-amber-400/40
    dark:text-amber-300
    dark:bg-amber-400/10;
  }
}
